.menu__plat{
    animation: apparition-plat 1s both;
    @for $i from 1 through 10{
        &--#{$i}{
            animation-delay: .3s *$i;
        }
    }
    &:hover .checkbox{
        width: 50px;
        .icon{
        transform: rotate(360deg);
        }
    }
}

.loader__barre--remplissage{
    animation: barre-rempli 3s both;
}

.loader{
    animation: loader-none .1s 2.9s both;
}