.menu__plat{
    &:hover .checkbox{
        transform: translatex(0px);
        transition: transform 1.5s;
        .icon{
        transform: rotate(360deg);
        transition: transform 1s .5s;
        }
    }
}