$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-primary-light: rgba(146, 86, 220, 0.7);
$color-secondary-light: rgba(255, 122, 217, 0.7);

$text-size: (title1: 1.4em, title2: 1.1em, plats: 0.8em);