@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

body {
  font-family: "roboto", "shrikhand", sans-serif;
}

h1 {
  font-family: "shrikhand", "roboto", sans-serif;
}

h2 {
  font-size: 1.4em;
  font-weight: 900;
}

h4 {
  font-size: 1.1em;
  font-weight: 100;
}

footer h2 {
  font-family: "shrikhand", "roboto", sans-serif;
}

.btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 220px;
  margin-left: 20px;
  color: white;
  font-size: 0.9em;
  font-weight: 900;
  box-shadow: 0px 5px 5px rgba(170, 167, 167, 0.356);
  cursor: pointer;
}

.btn-heart {
  border: none;
  background: none;
  font-size: 1.5em;
  float: right;
  cursor: pointer;
}
.btn-heart--card {
  position: relative;
  bottom: 35px;
  right: 20px;
}
.btn-heart:focus {
  background: linear-gradient(#FF79DA, #9356DC);
}

.header {
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  text-align: center;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
  box-shadow: 0.5px 2px 1px rgba(128, 128, 128, 0.384);
}
.header .icone-retour {
  position: relative;
  top: 5px;
  left: 10px;
  font-size: 0.7em;
  margin-right: -20px;
}
.header i {
  float: left;
}

.menu .menu {
  background-color: #fcf8f8;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  position: relative;
  bottom: 40px;
  padding: 20px;
  padding-bottom: 70px;
}
.menu .menu a {
  display: inline-block;
}
.menu .menu__section__titre {
  border-bottom: 4px solid #99E2D0;
  width: 50px;
  margin-top: 20px;
}
.menu .menu__section__titre h1 {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}
.menu .menu__plat {
  background-color: white;
  box-shadow: 0px 5px 5px rgba(170, 167, 167, 0.356);
  border-radius: 15px;
  width: 90%;
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  font-size: 0.8em;
}
.menu .menu__plat .prix {
  float: right;
  font-weight: 900;
}
.menu img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.menu .btn {
  width: 170px;
  margin-top: 40px;
  margin-left: 80px;
}
@media all and (min-width: 1025px) {
  .menu {
    text-align: center;
  }
  .menu .menu__carte {
    display: flex;
    justify-content: space-around;
  }
  .menu .menu__section {
    display: flex;
    flex-direction: column;
    text-align: initial;
    width: 25%;
  }
}

footer {
  padding: 30px;
  background-color: #353535;
  color: white;
  height: 150px;
}
footer a {
  color: white;
}
footer h2 {
  margin-bottom: 10px;
}
footer li {
  padding: 5px;
}
footer li .icon-footer {
  width: 20px;
}
@media all and (min-width: 1025px) {
  footer {
    text-align: center;
  }
}
@media all and (min-width: 600px) {
  footer {
    text-align: center;
  }
}

.presentation {
  text-align: center;
}
@media all and (min-width: 1025px) {
  .presentation {
    display: flex;
  }
  .presentation section {
    width: 50%;
    text-align: center;
    background-color: white;
  }
}

.position {
  text-align: center;
  font-size: 1.1em;
  font-weight: 100;
  background-color: rgba(128, 128, 128, 0.219);
  padding-bottom: 20px;
  padding-top: 80px;
}
.position i {
  padding-right: 15px;
}

.description {
  text-align: center;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.103);
}
@media all and (min-width: 1025px) {
  .description {
    padding-top: 130px;
    border-right: 5px solid #9356DC;
  }
}
.description__titre {
  width: 70%;
  margin: auto;
  padding-top: 40px;
  margin-bottom: 15px;
}
.description__texte {
  margin-left: 18px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.582);
}
.description__btn {
  margin: 30px;
  margin-left: 50px;
}

.fonctionnement {
  font-size: 1.4em;
  margin-top: 75px;
  margin-left: 20px;
  margin-bottom: 42px;
  text-align: initial;
}
@media all and (min-width: 1025px) {
  .fonctionnement {
    text-align: center;
  }
}
@media all and (min-width: 600px) {
  .fonctionnement {
    text-align: center;
  }
}
.fonctionnement__etape {
  border-radius: 15px;
  height: 40px;
  width: 300px;
  padding-top: 30px;
  margin: auto;
  margin-bottom: 40px;
  font-size: 0.95em;
  font-weight: bolder;
  box-shadow: 0px 5px 5px rgba(170, 167, 167, 0.356);
}
.fonctionnement__etape a {
  display: inline-block;
}
.fonctionnement__icon {
  margin-right: 20px;
  width: 10px;
  color: gray;
}
.fonctionnement__icon--pink {
  color: #9356DC;
}

.pastilles {
  text-align: center;
  color: white;
  background-color: #9356DC;
  height: 20px;
  width: 20px;
  position: relative;
  right: 7px;
  display: inline-block;
  border-radius: 10px;
}

#resto {
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: rgba(128, 128, 128, 0.103);
  text-align: center;
}
#resto h2 {
  text-align: initial;
}
@media all and (min-width: 600px) {
  #resto h2 {
    text-align: center;
  }
}

.card-resto {
  display: inline-block;
  box-shadow: 0px 5px 5px rgba(170, 167, 167, 0.356);
  border: 0.3px solid rgba(128, 128, 128, 0.336);
  border-radius: 15px;
  width: 90%;
  margin-top: 23px;
  text-align: initial;
}
.card-resto img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 170px;
}
.card-resto div {
  padding-left: 15px;
  padding-top: 15px;
  color: black;
}
@media all and (min-width: 1025px) {
  .card-resto {
    width: 22%;
    margin-right: 40px;
    text-align: initial;
  }
}

.new {
  background-color: #99E2D0;
  color: #008766;
  float: right;
  position: relative;
  bottom: 170px;
  right: 10px;
  padding: 5px;
  width: 70px;
}

/*# sourceMappingURL=style.css.map */
