@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
@keyframes apparition-plat {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes barre-rempli {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
@keyframes loader-none {
  0% {
    z-index: 2;
  }
  100% {
    z-index: -100;
    opacity: 0;
  }
}
.menu__plat {
  animation: apparition-plat 1s both;
}
.menu__plat--1 {
  animation-delay: 0.3s;
}
.menu__plat--2 {
  animation-delay: 0.6s;
}
.menu__plat--3 {
  animation-delay: 0.9s;
}
.menu__plat--4 {
  animation-delay: 1.2s;
}
.menu__plat--5 {
  animation-delay: 1.5s;
}
.menu__plat--6 {
  animation-delay: 1.8s;
}
.menu__plat--7 {
  animation-delay: 2.1s;
}
.menu__plat--8 {
  animation-delay: 2.4s;
}
.menu__plat--9 {
  animation-delay: 2.7s;
}
.menu__plat--10 {
  animation-delay: 3s;
}
.menu__plat:hover .checkbox, .menu__plat:active .checkbox {
  width: 50px;
}
.menu__plat:hover .checkbox .icon, .menu__plat:active .checkbox .icon {
  transform: rotate(360deg);
}

.loader__barre--remplissage {
  animation: barre-rempli 3s both;
}

.loader {
  animation: loader-none 0.1s 2.9s both;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcf8f8;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

body {
  font-family: "roboto", "shrikhand", sans-serif;
}

h1 {
  font-family: "shrikhand", "roboto", sans-serif;
}

h2 {
  font-size: 1.4em;
  font-weight: 900;
}

h4 {
  font-size: 1.1em;
  font-weight: 100;
}

footer h2 {
  font-family: "shrikhand", "roboto", sans-serif;
}

.btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 220px;
  margin-left: 20px;
  color: white;
  font-size: 0.9em;
  font-weight: 900;
  box-shadow: 0px 5px 5px rgba(170, 167, 167, 0.356);
  cursor: pointer;
}
.btn__link {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px auto;
}
.btn:hover {
  background: linear-gradient(rgba(255, 122, 217, 0.7), rgba(146, 86, 220, 0.7));
}

.btn-heart {
  border: none;
  background: none;
  font-size: 1.5em;
  float: right;
  cursor: pointer;
}
.btn-heart--card {
  position: relative;
  bottom: 35px;
  right: 20px;
}
.btn-heart:focus {
  background: linear-gradient(#FF79DA, #9356DC);
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  background-color: #99E2D0;
  color: white;
  font-size: 1.5em;
  transition: width 0.5s;
}
.checkbox .icon {
  transition: transform 0.5s;
}

header {
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  text-align: center;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
  box-shadow: 0.5px 2px 1px rgba(128, 128, 128, 0.384);
}
header .icone-retour {
  position: relative;
  top: 5px;
  left: 10px;
  font-size: 0.7em;
  margin-right: -20px;
}
header i {
  float: left;
}

footer {
  padding: 30px;
  background-color: #353535;
  color: white;
  height: 150px;
}
footer a {
  color: white;
}
footer h2 {
  margin-bottom: 10px;
}
footer li {
  padding: 5px;
}
footer li .icon-footer {
  width: 20px;
}
@media all and (min-width: 1025px) {
  footer {
    text-align: center;
  }
}
@media all and (min-width: 600px) {
  footer {
    text-align: center;
  }
}

.loader {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #2e2d2d;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 100%;
  width: 100%;
}
.loader__title {
  color: #9356DC;
}
.loader__barre {
  overflow: hidden;
  border-radius: 25px;
  color: white;
  border: 2px solid #FF79DA;
  width: 50%;
  height: 30px;
}
.loader__barre--remplissage {
  border: none;
  background: linear-gradient(to right, #9356DC, #FF79DA, #99E2D0);
  width: 0%;
}

@media all and (min-width: 1025px) {
  .presentation {
    display: flex;
  }
  .presentation section {
    width: 50%;
    text-align: center;
    background-color: white;
  }
}

.position {
  text-align: center;
  font-size: 1.1em;
  font-weight: 100;
  background-color: rgba(128, 128, 128, 0.219);
  padding-bottom: 20px;
  padding-top: 80px;
}
.position i {
  padding-right: 15px;
}

.description {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.103);
  padding-bottom: 10px;
}
@media all and (min-width: 1025px) {
  .description {
    padding-top: 130px;
    border-right: 5px solid #9356DC;
  }
}
.description__titre {
  width: 70%;
  margin: auto;
  padding-top: 40px;
  margin-bottom: 15px;
}
.description__texte {
  margin-left: 18px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.582);
}

.fonctionnement {
  font-size: 1.4em;
  margin-top: 75px;
  margin-left: 20px;
  margin-bottom: 42px;
  text-align: initial;
}
@media all and (min-width: 1025px) {
  .fonctionnement {
    text-align: center;
  }
}
@media all and (min-width: 600px) {
  .fonctionnement {
    text-align: center;
  }
}
.fonctionnement__etape {
  border-radius: 15px;
  height: 40px;
  width: 80%;
  padding-top: 30px;
  margin: auto;
  margin-bottom: 40px;
  font-size: 0.95em;
  font-weight: bolder;
  box-shadow: 0px 5px 5px rgba(170, 167, 167, 0.356);
}
.fonctionnement__etape a {
  display: inline-block;
}
@media all and (min-width: 1025px) {
  .fonctionnement__etape {
    width: 40%;
  }
}
@media all and (min-width: 600px) {
  .fonctionnement__etape {
    width: 50%;
  }
}
.fonctionnement__icon {
  margin-right: 20px;
  width: 10px;
  color: gray;
}
.fonctionnement__icon--pink {
  color: #9356DC;
}

.pastilles {
  text-align: center;
  color: white;
  background-color: #9356DC;
  height: 20px;
  width: 20px;
  position: relative;
  right: 7px;
  display: inline-block;
  border-radius: 10px;
}

#resto {
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: rgba(128, 128, 128, 0.103);
}
#resto h2 {
  text-align: initial;
}
@media all and (min-width: 600px) {
  #resto h2 {
    text-align: center;
  }
}

.card-resto {
  display: inline-block;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(170, 167, 167, 0.356);
  border: 0.3px solid rgba(128, 128, 128, 0.336);
  border-radius: 15px;
  width: 95%;
  margin-top: 23px;
  text-align: initial;
}
.card-resto img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 170px;
}
.card-resto div {
  padding-left: 15px;
  padding-top: 15px;
  color: black;
}
@media all and (min-width: 1025px) {
  .card-resto {
    width: 22%;
    margin-right: 40px;
    text-align: initial;
  }
}

.new {
  background-color: #99E2D0;
  color: #008766;
  float: right;
  position: relative;
  bottom: 170px;
  right: 10px;
  padding: 5px;
  width: 70px;
}

.menu {
  background-color: #fcf8f8;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  position: relative;
  bottom: 40px;
  padding: 20px;
  text-align: center;
  padding-bottom: 70px;
}
.menu .btn {
  margin-top: 50px;
}
.menu__section__titre {
  border-bottom: 4px solid #99E2D0;
  width: 50px;
  margin-top: 20px;
}
.menu__section__titre h1 {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}
.menu__plat {
  display: flex;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(170, 167, 167, 0.356);
  border-radius: 15px;
  margin: 10px;
  margin-left: 0;
  text-align: initial;
  font-size: 0.8em;
  cursor: pointer;
}
.menu__plat__title {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  flex: 1;
}
.menu__plat__title h3, .menu__plat__title p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__plat .prix {
  padding: 10px;
  display: flex;
  align-items: flex-end;
  font-weight: 900;
}
@media all and (min-width: 1025px) {
  .menu {
    margin: auto;
    width: 70%;
    text-align: center;
  }
  .menu .menu__carte {
    display: flex;
    justify-content: space-around;
  }
  .menu .menu__section {
    display: flex;
    flex-direction: column;
    text-align: initial;
    width: 25%;
  }
}

img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

/*# sourceMappingURL=style.css.map */
