footer{
    padding: 30px;
    background-color: #353535;
    color: white;
    a{
        color: white;
    }
    h2{
        font-family: 'shrikhand', 'roboto', sans-serif;
        margin-bottom: 10px;
    }
    li{
        padding: 5px;
            .icon-footer{
                width: 20px;
            }
    }
    @include pc{
        text-align: center;
    }
    @include tablette{
        text-align: center;
    }
}