.menu{
    @include menu;
    @include pc{
        .menu__carte{
            display: flex;
            justify-content: space-around;
        }
        .menu__section{
            display: flex;
            flex-direction: column;
            text-align: initial;
            width: 25%;
        }
        text-align: center;
    }  
}