.btn{
    @include button
}
.btn-heart{
    border: none;
    background: none;
    font-size: 1.5em;
    float: right;
    position: relative;
    bottom: 55px;
    right: 20px;
    cursor: pointer;
    &:focus{
        background: linear-gradient($color-secondary, $color-primary);
    }
}