.btn{
    background: linear-gradient($color-secondary, $color-primary);
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 220px;
    margin-left: 20px;
    color: white;
    font-size: .9em;
    font-weight: 900;
    @include box-shadow;
    cursor: pointer;    
    &__link{  
        justify-content: center;
        align-items: center;     
        display: flex;
        margin: 10px auto;              
    }
    &:hover{
        background: linear-gradient($color-secondary-light, $color-primary-light);
    }
}
.btn-heart{
    border: none;
    background: none;    
    font-size: 1.5em;
    float: right;
    cursor: pointer;    
    &--card{
        position: relative;
        bottom: 35px;
        right: 20px;
    }
   &:focus{
        background: linear-gradient($color-secondary, $color-primary);
    }
}