.btn{
    @include button
}
.btn-heart{
    border: none;
    font-size: 1.5em;
    color:rgba(0, 0, 0, 0.521);
    background-color: red;
    float: right;
    position: relative;
    bottom: 30px;
    right: 20px;
}