.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0px;
    background-color: $color-tertiary;
    color:white;
    font-size: 1.5em;
    transition: width .5s;
    ;
    .icon{
         transition: transform .5s;

    }
}